h1 {
  text-align: center;
}

nav {
  display: flex;
  justify-content: start;
  align-items: start;
  padding: 10px 40px;
}

a {
  color: blue;
  cursor: pointer;
  text-decoration: none;
}

a:not(:first-child) {
  margin-left: 48px;
}
